<form id=myModal data-toggle="validator" role="form"  novalidate>

       <div class="form-group">

          <label for="inputName" class="control-label">Name*</label>
          <input #nameBox type="text" class="form-control" id=" " name="inputName" placeholder="Name" required>
          <!-- <div [hidden]="inputName.pristine"
          class="alert alert-danger">
          Name is required
    </div> -->
          <label for="inputGit" class="control-label">Git Url*</label>
          <input #gitBox type="text" class="form-control" id="inputName" name="inputGit" placeholder="Your Git Url" required>
         <label for="inputNumber" class="control-label">ID*</label>
          <input #idBox type="number"  max="999999999" class="form-control" id="inputNumber" placeholder="Id" data-error="ID is invalid" required>
          <div class="help-block with-errors"></div>

       </div>

         <span class="glyphicon form-control-feedback" aria-hidden="true"></span>


       <!-- ############## Email ##################### -->

       <div class="form-group">
          <label for="inputEmail" class="control-label">Email*</label>
          <input #emailBox type="email" class="form-control" id="inputEmail" name="inputEmail" placeholder="Email" data-error="Email address is invalid" required>
          <div class="help-block with-errors"></div>
        </div>

       <!-- ############## City ##################### -->
          <div class="dropdown">
         <label class="control-label">Choose City  </label>
          <select #city type="A" class="btn btn-default btn-block dropdown-toggle">

            <option>Mumbai</option>
            <option>Chennai</option>
            <option>Kolkata</option>
            <option>Bangaluru</option>
            <option>Guwahati</option>
          </select>
        </div>

       <!-- ############## Score ##################### -->

       <div class="form-group">
          <label for="inputNumber" class="control-label">Score*</label>
          <input disabled  value="{{score}}" type="number" class="form-control" id="inputNumber" data-error="Score is invalid" required>
          <div class="help-block with-errors"></div>
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-secondary btn-block" (click)="(onSubmit(nameBox.value,emailBox.value,idBox.value,city.value,gitBox.value))">Submit</button>
        </div>
      </form>
