
<div class="container">

<h3>Timer: </h3>
<h3>
    {{this.hackathon.hoursDisplay ? this.hackathon.hoursDisplay : '00'}} : {{(this.hackathon.minutesDisplay) && (this.hackathon.minutesDisplay <= 59) ? this.hackathon.minutesDisplay : '00'}} : {{(this.hackathon.secondsDisplay) && (this.hackathon.secondsDisplay <= 59) ? this.hackathon.secondsDisplay : '00'}} <br/>
</h3>
<div class="row">
        <div class="col-6">
          <div class="rightCol2" [style.background-color]="colors[0]" (click)="this.hackathon.onClickTimer();onClick(colors[0]);hackathon.shuffle(colors);"></div>
          <div class="rightCol1"  [style.background-color]="colors[1]" (click)="this.hackathon.onClickTimer();onClick(colors[1]);hackathon.shuffle(colors);"></div>
        </div>
        <div class="col-6">
          <div class="rightCol1"  [style.background-color]="colors[2]" (click)="this.hackathon.onClickTimer();onClick(colors[2]);hackathon.shuffle(colors);"></div>
          <div class="rightCol2"  [style.background-color]="colors[3]" (click)="this.hackathon.onClickTimer();onClick(colors[3]);hackathon.shuffle(colors);"></div>
        </div>
</div>

<h3 class="text-center"  *ngIf="!this.hackathon.change">Score:{{score}}</h3>
<h2 class="text-center" *ngIf="this.hackathon.change">Game Finished. Your score is {{score}}.</h2>
</div>
